replicaCount: 2

image:
  repository: ghcr.io/ezemery/ezemery
  pullPolicy: IfNotPresent
  tag: "main"

service:
  type: NodePort
  port: 80
  targetPort: 3000

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: ezemery.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
